*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/*------------
    HEADER
------------*/

header{
    background: white;
    padding: 10px 25px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 35px;
}

.logoimg{
    vertical-align: middle;
}

/*------------
    MAIN
------------*/

.container{
    margin: 40px auto;
    max-width: 700px;
    border-radius: 50px;
}

.cont{
    background-color: white;
    padding-left: 50px;
    padding-bottom: 20px;
}

/* buttons */

.cb{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.add{
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.task{
    background-color: #47ADF1;
    border: 0px;
    color: white
}

.sect{
    box-sizing: border-box;
    background-color: white;
    color: #C6CCD1;
    border: 1px solid #C6CCD1;
}

/* list */

.cl{
    padding-top: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title:before{
    content:"\25BC";
    font-size: smaller;
}

.symbol, .activity, .status{
    display: inline-block;
}

.list{
    margin-bottom: 30px;
}

/* check/cross icons */

.symbol{
    width: 22px;
    height: 22px;
    border: 2px solid black;
    border-radius: 100%;
    line-height: 22px;
    text-align: center;
}

.check{
    color: #66C1AA;
    border-color: #66C1AA;
}

.cross{
    color: red;
    border-color: red;
}

/* activities */

.activity{
    font-size: 18px;
    margin: 7px;
}

/* status */

.status{
    font-size: 12px ;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
}

.edit{
    background-color: #45ABEA;
}

.q1{
    background-color: #9C72E4;
}

.rec{
    background-color: #64C0A9;
}

.mobile{
    background-color: #F29E33;
}

.blank{
    display: none;
}

.web{
    background-color: #D863A1;
}

.sales{
    background-color: #B0C926;
}